[submodule "software/module/dw1000-driver"]
	path = software/module/dw1000-driver
	url = https://github.com/lab11/dw1000-driver
[submodule "software/module/stm32f0-base"]
	path = software/module/stm32f0-base
	url = https://github.com/lab11/stm32f0-base.git
