/* Make first and second series (raw data) opaque */
.timeseries_graph .ct-series-a .ct-line, .timeseries_graph .ct-series-b .ct-line {
  opacity: 0.25;
}

/* Arrange all of them next to each other */
.timeseries_graph {
  display: inline-block;
  width: 33%;
}

/* Connectivity graph */
#chart_connectivity {
  max-width:    45%;
  margin:       auto;
  margin-top:   80px;
}

/* Make all points larger */
.ct-series-a .ct-point, .ct-series-b .ct-point {
  opacity:      1;
  stroke:       #d70206;
  stroke-width: 80px;
}

/* All lines should have the same colour for the connectivity graph*/
.connectivity_graph .ct-series-a .ct-line, .connectivity_graph .ct-series-b .ct-line {
  opacity:      1;
  stroke:       #d70206;
  stroke-width: 20px;
}
